.product-description-content {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 5rem;
    max-width: 1400px;
}

.content-flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product-description-left-content {
    text-align: center;
    width: 50%;
}

.product-description-right-content {
    display: flex;
    justify-content: center;
    width: 50%;
}

.product-description-right-content img {
    max-width: 300px;
    max-height: 300px;
}

.btn-product-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

.btn-product-description button {
    padding: 0.6rem 5rem;
    background-color: transparent;
    border-radius: 15px;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out ;
    border: 2px solid black;
}

.btn-product-description button:hover {
    background-color: black;
    color: white;
}

